<html>
  <head>
    <title>Slides</title>
    <style type="text/css" media="screen">
      <%= read('css/slides.css') %>
    </style>
    <% stylesheets.each do |style| %>
      <style type="text/css" media="screen">
        <%= style %>
      </style>
    <% end %>
    <script type="text/javascript">
      <%= read('js/jquery-1.3.2.js') %>
    </script>
    <script type="text/javascript" charset="utf-8">
      <%= read('js/jquery.easing.js') %>
    </script>
    <script type="text/javascript" charset="utf-8">
      <%= read('js/jquery.hash-changed.js') %>
    </script>
    <script type="text/javascript" charset="utf-8">
      <%= read('js/slides.js') %>
    </script>
  </head>
  <body>
    <div id="slides">
      <div id="track">
        <% slides.each_with_index do |slide, idx| %>
          <div class="<%= slide.classes.join(' ') %>">
            <div id="slide-<%= idx %>" class="content">
              <%= slide.html %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </body>
</html>